body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1,
h2,
h3 {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  background-color: lightblue;
  justify-content: center;
  margin: 0;
  margin-bottom: 1em;
  padding: 1em;
}

.navigation .item {
  list-style-type: none;
  font-weight: 500;
  font-size: 1.2em;
}

.item a {
  display: block;
  padding: 1em 1em;
  text-decoration: none;
}

.item a:hover {
  background-color: lightgreen;
}

.form-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form input,
.form textarea,
.form select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px 0;
}

.form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: lightblue;
  color: #333;
  padding: 1em;
  cursor: pointer;
}

.form button:hover {
  background-color: lightgreen;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 20px;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.action_button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 50px;
}

.action_button#edit {
  background-color: #007BFF;
}

.action_button#edit:hover {
  background-color: #0056b3;
}

.action_button#delete {
  background-color: #dc3545;
}

.action_button#delete:hover {
  background-color: #bd2130;
}

.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}